*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 70%;
  height: auto;
  margin: auto;
}

.pink{
  height: 15vh;
  background-color: pink;
}

.yellow{
  height: 30vh;
  background-color: yellow;
  margin-bottom: 10px;
}



.lightblue{
  background-color: lightblue;
}

.head-lightblu{
  height: 50px;
  background-color: lightblue;
}

.purple{
  height: 7vh;
  background-color: purple;
}

header,main{
  margin-bottom: 10px;
}

.elem1{
  width: 20%;
  height: 400px;
  border: 5px solid blue;
  float: left;
}
.elem2{
  width: 60%;
  height: 400px;
  border: 5px solid blue;
  float: left;
}
.elem3{
  width: 20%;
  height: 400px;
  border: 5px solid blue;
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
